<div class="nav-wrapper" ng-controller="sidebarCtrl" ng-init="init()">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li class="nav-title"> <span data-translate="Classbook"></span> </li>
        <li ><a md-button aria-label="meanu" href="#/page/profile/{{user.id}}"><i class="fa fa-th-large"></i><span data-translate="Menu"></span></a>
            <ul style="display: block;">
                <li ng-repeat="item in items"><a md-button aria-label="meanu" href="{{item.route}}"><i class="fa fa-circle"></i><span data-translate={{item.name}}></span></a></li>
            </ul>
        </li>

        <!--<li ng-repeat="item in items"><a md-button aria-label="meanu" href="{{item.route}}"><i class="fa fa-home"></i><span data-translate={{item.name}}></span></a>
            <ul style="display: block;">
                <li ng-repeat="link in item.items"><a md-button aria-label="meanu" href={{link.route}}><i class="fa fa-circle"></i><span data-translate={{link.name}}></span></a></li>
            </ul>
        </li>-->

        <li ng-hide="hideOptions"><a md-button aria-label="meanu" href="#/page/profile/{{user.id}}"><i class="fa fa-th-large"></i><span data-translate="Opções"></span></a>
            <ul style="display: block;">
                <li ng-repeat="item in context"><a md-button aria-label="meanu" href="#/{{item.url}}"><i class="fa fa-circle"></i><span data-translate={{item.name}}></span></a></li>
            </ul>
        </li>
    </ul>
</div>