
<section class="page-form-ele page" >


    <div class="row ui-section" ng-controller="createCourseCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">{{school.name}} - Novo Curso</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm" data-ng-submit="submitForm()">
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Nome</label>
                                                <input name="name" ng-model="course.name">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Nome do Supervisor</label>
                                                <input name="firstname" ng-model="course.supervisor.firstname">
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Apelido do Supervisor</label>
                                                <input name="lastname" ng-model="course.supervisor.lastname">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Telefone do Supervisor</label>
                                                <input name="telephone" ng-model="course.supervisor.phone" placeholder="999999999"
                                                             required ng-pattern="/^[0-9]{9}$/" md-maxlength="9">
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Email do Supervisor</label>
                                                <input name="email" ng-model="course.supervisor.email">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Descrição</label>
                                                <textarea ng-model="course.description" columns="1" md-maxlength="200"></textarea>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column" ng-repeat="i in labels track by $index">
                                            <md-input-container flex>
                                                <label>Cadeiras do {{labels[$index]}} ano</label>
                                                <textarea ng-model="course_subjects[$index].subjects" columns="1" md-maxlength="150"></textarea>
                                            </md-input-container>
                                        </div>
                                        
                                        <md-input-container class="md-block">
                                            <md-button type="submit"
                                               class="md-raised btn-w-md md-primary btn-block btn-lg"
                                               data-ng-disabled="!canSubmit()">Adicionar Curso</md-button>
                                        </md-input-container>

                                    </form>
                                </md-content>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
