
<section class="page-form-ele page" >


    <div class="row ui-section" ng-controller="scheduleCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Horário de {{subject.name}}</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm" data-ng-submit="submitForm()">
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Professor (Nome)</label>
                                                <input name="name" required ng-model="professor.firstname" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Professor (Apelido)</label>
                                                <input name="name" required ng-model="professor.lastname" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Email</label>
                                                <input name="email" required ng-model="professor.email" disabled>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex><label>Segunda Feira</label><input name="mlabel" disabled></md-input-container>
                                            <md-input-container flex><label>Início</label>
                                                <input name="monday-start" ng-model="schedule.schedule.monday.start" placeholder="08:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                            <md-input-container flex><label>Fim</label>
                                                <input name="monday-start" ng-model="schedule.schedule.monday.end" placeholder="10:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex><label>Terça Feira</label><input name="mlabel" disabled></md-input-container>
                                            <md-input-container flex><label>Início</label>
                                                <input name="monday-start" ng-model="schedule.schedule.tuesday.start" placeholder="08:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                            <md-input-container flex><label>Fim</label>
                                                <input name="monday-start" ng-model="schedule.schedule.tuesday.end" placeholder="10:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex><label>Quarta Feira</label><input name="mlabel" disabled></md-input-container>
                                            <md-input-container flex><label>Início</label>
                                                <input name="monday-start" ng-model="schedule.schedule.wednesday.start" placeholder="08:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                            <md-input-container flex><label>Fim</label>
                                                <input name="monday-start" ng-model="schedule.schedule.wednesday.end" placeholder="10:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex><label>Quinta Feira</label><input name="mlabel" disabled></md-input-container>
                                            <md-input-container flex><label>Início</label>
                                                <input name="monday-start" ng-model="schedule.schedule.thursday.start" placeholder="08:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                            <md-input-container flex><label>Fim</label>
                                                <input name="monday-start" ng-model="schedule.schedule.thursday.end" placeholder="10:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex><label>Sexta Feira</label><input name="mlabel" disabled></md-input-container>
                                            <md-input-container flex><label>Início</label>
                                                <input name="monday-start" ng-model="schedule.schedule.friday.start" placeholder="08:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                            <md-input-container flex><label>Fim</label>
                                                <input name="monday-start" ng-model="schedule.schedule.friday.end" placeholder="10:00"
                                                required ng-pattern="/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/">
                                            </md-input-container>
                                        </div>
                                        <md-input-container class="md-block">
                                            <md-button type="submit"
                                               class="md-raised btn-w-md md-primary btn-block btn-lg"
                                               data-ng-disabled="!canSubmit()">Actualizar Horário</md-button>
                                        </md-input-container>

                                    </form>
                                </md-content>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
