<div class="page page-dashboard" data-ng-controller="adminDashboardCtrl">

    <div class="row">
       <!-- Stats -->
        <div class="col-lg-3 col-xsm-6" ng-repeat="data in stats">
            <div class="panel panel-box">
                <div class="panel-top">
                    <span class="zmdi {{data.icon}} {{data.color}}"></span>
                </div>
                <div class="panel-info">
                    <span data-translate="{{data.name}}"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>{{data.value}} <span class="size-h4">{{data.unit}}</span></span>
                </div>
            </div>
        </div>
        <!-- end stats -->          
    </div>
    
    
    <div class="row">
        <div class="col-md-12">
       <!-- Professor Schedule -->
    <div class="row ui-section" ng-controller="profScheduleCtrl">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Horário de Aulas</h2>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-body">
            <section class="table-flip-scroll">
            <table class="table table-striped cf no-margin">
                <thead class="cf">
                <tr>
                    <th class="numeric"></th>
                    <th class="numeric">Disciplina</th>
                    <th class="numeric">Segunda-Feira</th>
                    <th class="numeric">Terça-Feira</th>
                    <th class="numeric">Quarta-Feira</th>
                    <th class="numeric">Quinta-Feira</th>
                    <th class="numeric">Sexta-Feira</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in schedules">
                    <td class="numeric">{{schedule.subject_name}}</td>
                    <td class="numeric" >
                        <a ng-if="schedule.schedule.monday.show" href="#/page/schedule/session/new/{{schedule._id}}">{{schedule.schedule.monday.start}} - {{schedule.schedule.monday.end}}</a>
                        <span ng-if="schedule.schedule.monday.hide">{{schedule.schedule.monday.start}} - {{schedule.schedule.monday.end}}</span>
                    </td>
                    <td class="numeric" >
                        <a ng-if="schedule.schedule.tuesday.show" href="#/page/schedule/session/new/{{schedule._id}}">{{schedule.schedule.tuesday.start}} - {{schedule.schedule.tuesday.end}}</a>
                        <span ng-if="schedule.schedule.tuesday.hide">{{schedule.schedule.tuesday.start}} - {{schedule.schedule.tuesday.end}}</span>
                    </td>
                    <td class="numeric" >
                        <a ng-if="schedule.schedule.wednesday.show" href="#/page/schedule/session/new/{{schedule._id}}">{{schedule.schedule.wednesday.start}} - {{schedule.schedule.wednesday.end}}</a>
                        <span ng-if="schedule.schedule.wednesday.hide">{{schedule.schedule.wednesday.start}} - {{schedule.schedule.wednesday.end}}</span>
                    </td>
                    <td class="numeric" >
                        <a ng-if="schedule.schedule.thursday.show" href="#/page/schedule/session/new/{{schedule._id}}">{{schedule.schedule.thursday.start}} - {{schedule.schedule.thursday.end}}</a>
                        <span ng-if="schedule.schedule.thursday.hide">{{schedule.schedule.thursday.start}} - {{schedule.schedule.thursday.end}}</span>
                    </td>
                    <td class="numeric" >
                        <a ng-if="schedule.schedule.friday.show" href="#/page/schedule/session/new/{{schedule._id}}">{{schedule.schedule.friday.start}} - {{schedule.schedule.friday.end}}</a>
                        <span ng-if="schedule.schedule.friday.hide">{{schedule.schedule.friday.start}} - {{schedule.schedule.friday.end}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            </section>
        </div>
        </div>
    </div>
    </div>
       <!-- End  Professor Schedule -->
   </div>
</div>
</div>
    