
<section class="page-form-ele page" >


    <div class="row ui-section" ng-controller="removeSubjectCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">{{subject.name | ucfirst}} - {{subject.year}}<sup>o</sup> ano de {{course.name | ucfirst}}</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm" data-ng-submit="delete()">
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Cadeira</label>
                                                <input name="firstname" ng-model="subject.name" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Ano</label>
                                                <input name="lastname" ng-model="subject.year" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Curso</label>
                                                <input name="lastname" ng-model="course.name" disabled>
                                            </md-input-container>
                                        </div>
                                        <md-input-container class="md-block">
                                            <md-button type="submit"
                                               class="md-raised btn-w-md md-primary btn-block btn-lg"
                                               data-ng-disabled="!canDelete()">{{button}}</md-button>
                                        </md-input-container>
                                        <div class="callout callout-info" ng-hide="!form_error"> <span>{{message}}</span></div>
                                    </form>
                                </md-content>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
