
<section class="page-form-ele page" >


    <div class="row ui-section" ng-controller="importCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Importar Conteúdo</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm" data-ng-submit="submitForm()">
                                        <div layout layout-sm="column">
                                            <md-input-container flex><label>Carreque o seu ficheiro Excel</label> <input disabled></md-input-container>
                                            <md-input-container flex>
                                                <!--<input type="file" name="file" ngf-select ng-model="file" ngf-max-size="20MB" onchange="angular.element(this).scope().canSubmit(event)">-->
                                                <input aria-label="Upload file" type="file" ngf-select="canSubmit($file, $invalidFiles)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ngf-max-size="2MB"></input>
                                            </md-input-container>
                                        </div>

                                        <md-input-container class="md-block">
                                            <md-button type="submit"
                                               class="md-raised btn-w-md md-primary btn-block btn-lg"
                                               data-ng-disabled="!valid">{{button}}</md-button>
                                        </md-input-container>
                                        <div class="callout callout-info" ng-hide="!form_error && !show_log "><span>{{message}}</span></div>
                                        <div class="callout callout-info" ng-hide="!show_log"><span ng-repeat="error in log">{{error}}<br></span></div>
                                    </form>
                                </md-content>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
