
<section class="page-form-ele page" >


    <div class="row ui-section" ng-controller="removeSchoolScheduleCtrl" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">{{school.name}}</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm" data-ng-submit="delete()">
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Nome</label>
                                                <input name="school" ng-model="school.name" disabled>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Gerente (Nome)</label>
                                                <input name="school" ng-model="user.firstname" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Gerente (Apelido)</label>
                                                <input name="lastname" ng-model="user.lastname" disabled>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Telefone</label>
                                                <input name="telephone" ng-model="school.phone" placeholder="123456789"
                                                             required ng-pattern="/^[0-9]{9}$/" md-maxlength="9" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Email (Gerente)</label>
                                                <input name="email" ng-model="user.email" disabled>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Endereço da Escola</label>
                                                <input name="address" ng-model="school.address" disabled>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Cidade</label>
                                                <input name="city" ng-model="school.city" disabled>
                                            </md-input-container>
                                        </div>
                                        <md-input-container class="md-block">
                                            <md-button type="submit"
                                               class="md-raised btn-w-md md-primary btn-block btn-lg"
                                               data-ng-disabled="!canDelete()">{{button}}</md-button>
                                        </md-input-container>
                                        <div class="callout callout-info" ng-hide="!form_error">
                                            <span>{{message}}</span>
                                        </div>
                                    </form>
                                </md-content>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
